@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap');

* {
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box;
}

input {
  outline: none;
  border: none;
}

body {
  -webkit-font-smoothing: antialiased;
}

body,
input,
button {
  font: 16px 'Roboto', sans-serif;
}
button {
  cursor: pointer;
}

#root {
  max-width: 960px;
  margin: 0 auto;
  padding: 40px 20px;
}

/* Importing Bootstrap SCSS file. */
@import '~bootstrap/scss/bootstrap';
