.search {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  font-family: 'Roboto' sans-serif;
  background: url('../../../assets/leite_bg.jpg');
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: cover;
}

.pesquisa {
  padding-top: 18vh;
  width: 100%;
  max-width: 790px;
}
