<div *ngIf="Alert.type ">
  <div class="alert alert-{{Alert.type}} alert-dismissible fade show" role="alert">
    {{Alert.message}}
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
  </div>
</div>

<form class="form " [formGroup]="CadastroForm" (ngSubmit)="onSubmit()">

  <span>Código</span>
  <div class="wrap">
    <input class="input" autocomplete="none"  type="text" formControlName="codigo" >
  </div>

  <span>Nome</span>
  <div class="wrap">
    <input class="input" autocomplete="none" type="text" formControlName="nome" >
  </div>

  <div class=" container">
    <button type="submit" class="form-btn">
      Cadastrar
    </button>
  </div>
</form>
